@import 'tailwindcss';

.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
  width: 5px;
}
.scrollbar-custom::-webkit-scrollbar-button {
  display: none;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: #323339;
  border-radius: 9999px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 9999px;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #777;
}

@theme inline {
  --font-pretendard: var(--font-pretendard), sans-serif;
  --font-glegoo: var(--font-glegoo);
  --font-ibmPlexSansKr: var(--font-ibmPlexSansKr);
  --color-custom-nav-bg: #2c2d32;
  --color-custom-bg: #323339;
  --color-custom-green: #51bb86;
  --color-custom-lightgray: #848589;
  --color-main-white: #f9fbf4;
  --color-sub-white: #bdbdbd;
}
